// colors
@red:   #f00;
@green: #0f0;
@blue:  #00f;

@white: #fff;
@black: #000;
@grey:  #888;
@lightgrey: #ddd;
@darkgrey: #444;

@base:      @darkgrey;
@off_base:  @white;
@canvas:    @white;
@link:      #fd6256;

// fonts
.primary_font () { 
  font-family: Arial, Helvetica, sans-serif; 
}

@huge:    32px;
@large:   24px;
@normal:  18px;
@small:   14px;
@tiny:    12px;

.font_size (@size: @normal) { font-size: @size; }

.text_shadow(@shadow: 0 1px 1px @white) { text-shadow: @shadow; }

.border_radius (@radius: 4px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box_shadow (@shadow: 0 1px 3px rgba(0, 0, 0, 0.3)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.linear_gradient (@start, @end) {
  background: @start;
  background: -moz-linear-gradient(top, @start 0%, @end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start), color-stop(100%, @end));
  background: -webkit-linear-gradient(top, @start 0%, @end 100%);
  background: -o-linear-gradient(top, @start 0%, @end 100%);
  background: -ms-linear-gradient(top, @start 0%, @end 100%);
  background: linear-gradient(top, @start 0%, @end 100%);
  filter: ~'progid:DXImageTransform.Microsoft.gradient( startColorstr="@{start}", endColorstr="@{end}",GradientType=0 )';
}
