<ul class='orders_overview'>
  <li class='active_orders'>
    <h1>{{active}}</h1>
    <p>Active orders<p>
  </li>
  <li class='orders_today'>
    <h1>{{today}}</h1>
    <p>Orders today<p>
  </li>
  <li class='orders_this_week'>
    <h1>{{thisWeek}}</h1>
    <p>Orders this week<p>
  </li>
</ul>
